@media(max-width: 767px) {
    /*div[class*="col"] {
        padding: 0;
        margin-left: 8px;
        margin-right: 8px;
    }*/
/*
    span {
        line-height: 20px;
    }

    table {
        border-collapse: collapse;
    }

    thead {
        color: white;
        background: @secondary-blue;
        font-size: 14px;
    }

    thead tr {
        height: 20px !important;
    }

    thead tr th {
        border-radius: 0 !important;
    }
f
    th {
        border: none;
    }

    tr {
        height: 100%;
        border: none;
        border-radius: 0;
    }

    .current-entry .consumed-foods-table tr:last-child {
        border-bottom: none;
    }

    td {
        display: inline-block;
        padding: 0;
        margin-top: 10px;
    }

    td:first-child {
        margin-top: 10px;
        text-align: center;
    }
*/



    /*==========================================================================
    ============================================================================
                            Diary view
    ============================================================================
    ==========================================================================*/
    .diary td {
        margin-bottom: 10px;
    }



    .diary-entry-selection {
        line-height: 40px;
    }

    .diary-entry-selection i {
        font-size: 20px;
    }

    .selected-entry {
        font-size: 15px;
    }

    .entry-details {
        margin-top: 20px;
    }

    .entry-details .row {
        flex-direction: column;
        margin-bottom: 0;
        padding: 0;
    }

    .entry-details .row:last-child {
        padding: 0;
    }

    .entry-details button {
        width: 80%;
    }

    .macronutrient-split-chart-container {
        order: 1;
        padding: 0;
    }

    .macronutrient-split-chart-container-header {
        display: none;
    }

    .total-container {
        margin: 0;
        padding: 0;
        order: 2;
    }

    .total-container tr {
        height: auto;
    }

    .total-container td {
        font-size: 14px;
        padding: 0;
        margin: 0;
        height: 40px;
        line-height: 40px;
        display: table-cell;
        border-right: none;
        border-left: none;
    }

    .total-container th:first-child, .total-container td:first-child {
        width: 56%;
        text-align: left;
        padding-left: 10px;
    }

    .total-container td:nth-child(2),
    .total-container td:nth-child(3) {
        width: 22%;
    }


    /*==========================================================================
    ============================================================================
                            Current entry view
    ============================================================================
    ==========================================================================*/







    .no-results {
        border: none;
        font-size: 14px;
        padding: 40px 0;
        background: #fff;
    }



    /*==========================================================================
    ============================================================================
                                Daily goal
    ============================================================================
    ==========================================================================*/




    /*.daily-goal-header {
        border: none;
        padding-bottom: 15px;
        margin: -20px;
        text-align: center;
    }

    .daily-goal h3 {
        width: 100%;
        line-height: 24px;
        color: white;
        background: @secondary-blue;
        font-size: 14px;
        display: block;
        margin: 0;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .set-daily-goal {
        margin-top: 40px;
    }

    .configure-daily-goals {
        font-size: 18px;
        background: transparent;
        margin-left: 10px;
        position: absolute;
        right: 10px;
        top: 34px;
        padding: 5px 10px;
        border: 1px solid #d4d4d4;
        border-radius: 3px;
    }*/






}
