@media(min-width: 768px) {
    .energy-chart-container {
        min-width: 150px;
        color: @energy-color;
        font-size: 14px;
        //flex-basis: 22%;
    }

    .protein-chart-container {
        min-width: 150px;
        color: @protein-color;
        font-size: 14px;
        //flex-basis: 22%;
    }

    .carb-chart-container {
        min-width: 150px;
        color: @carb-color;
        font-size: 14px;
        //flex-basis: 22%;
    }

    .fat-chart-container {
        min-width: 150px;
        color: @fat-color;
        font-size: 14px;
        //flex-basis: 22%;
    }
}
