.add-to-consumed-foods {
    display: flex;
    position: absolute;
    z-index: 9999;
    border-top: 1px solid #e2e5f3;
    text-align: left;
    flex-direction: column;
    padding: 15px;
    background: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #adadad;
}

@media @tablet {
    .add-to-consumed-foods {
        position: relative;
        border: none;
        box-shadow: none;
    }
}
