.add-custom-amount {
    line-height: 14px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.add-custom-amount input {
    height: 34px;
    vertical-align: middle;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    margin-right: 6px;
}

@media @tablet {
    .add-custom-amount {
        input {
            width: 78%;
            margin-right: 2%;
        }

        button {
            width: 20%;
        }
    }
}
