.consumed-foods-table {
    text-align: center;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-collapse: separate;
}

.consumed-foods-table thead {
    color: white;
    background: @secondary-blue;
}

.consumed-foods-table thead tr {
    height: 24px;
}

.consumed-foods-table tr:hover {
    background: #d6d6d6;

    .copy-entry {
        color: #337ab7;
    }

    i {
        color: #525252;
    }

    .consumed-food-toggle-edit {
        opacity: 1;
    }
}

.consumed-food-toggle-edit {
    position: absolute;
    margin-left: 8px;
    opacity: 0;
}

.consumed-foods-table td {
    height: 40px;
    border-right: @border;
    border-bottom: @border;
}

.consumed-foods-day-total {
    td {
        height: 50px;
        //border-top: 2px solid @border-color;
        border-left: none;
        border-right: none;
        font-weight: bold;
    }

    td:nth-child(2) {
        color: @energy-color
    }

    td:nth-child(3) {
        color: @protein-color
    }

    td:nth-child(4) {
        color: @carb-color
    }

    td:nth-child(5) {
        color: @fat-color
    }
}

.consumed-foods-meal {
    background: #f7f7f7;
    font-weight: bold;
    text-align: left;

    td {
        line-height: 40px;
        padding-left: 6px;
    }

    button {
        color: #fff;
        padding: 0 8px;
        background: transparent;
        border: none;
        opacity: 0;
    }

    .toggle-meal-name-editing {
        margin-left: 6px;
    }

    input[type="text"] {
        color: #fff;
        height: 26px;
    }

    &:hover {
        background: #d6d6d6;

        button {
            opacity: 1;

            i {
                color: #525252;
            }
        }
    }
}

input[type="checkbox"] {
  display: none;
}

.toggle-active-meal {
    display: inline-block;
    position: relative;
    float: right;
    width: 46px;
    height: 22px;
    top: 7px;
    right: 6px;
    cursor: pointer;
}

.toggle-active-meal::before, .toggle-active-meal::after {
    display: inherit;
    font-family: FontAwesome;
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: -6px;
}

.toggle-active-meal::before {
    content: "\f09c";
    left: 7px;
    z-index: 1;
}

.toggle-active-meal::after {
    content: "\f023";
    right: 8px;
}

.slider {
    width: 100%;
    height: 100%;
    background: #adadad;
    border-radius: 50px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: @secondary-blue;
}

input:checked + .slider::before {
    transform: translateX(22px);
}



/*
.consumed-foods-table tbody tr td:first-child::before {
    content: "";
    display: block;
    position: absolute;
    margin-top: -14px;
    height: 45px;
    width: ~"calc(100% - 30px)";
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.consumed-foods-table tr td:first-child:hover::before {
    opacity: 1;

}*/
/*
.diary .consumed-foods-table td {
    padding-top: 8px;
    padding-bottom: 8px;
}*/

.consumed-foods-table td:last-child {
    border-right: none;
}

.consumed-food-name {
    text-align: left;
}

.consumed-food-energy-amount {
    color: @energy-color;
}

.consumed-food-protein-amount {
    color: @protein-color;
}

.consumed-food-carb-amount {
    color: @carb-color;
}

.consumed-food-fat-amount {
    color: @fat-color;
}

.consumed-food-edit-amount {
    width: 100%;
    height: 100%;
    border: none;

    /*width: 48%;
    padding: 0;
    margin-top: 5px;
    margin-right: 4%;
    background: #fff;

    i {
        color: green;
    }*/
}

.invalid-value {
    border-color: red;
    box-shadow: 0px 0px 5px red;
}

.consumed-food-cancel-edit {
    width: 48%;
    padding: 0;
    margin-top: 5px;

    i {
        color: red;
    }
}

.consumed-food-remove:hover {
    cursor: pointer;

    i {
        color: red;
    }
}

.copy-entry {
    color: @text-color;
}

.consumed-food-actions-container {
    position: absolute;
    left: 15px;
    line-height: 40px;
    width: ~"calc(100% - 30px)";
    margin-top: -20px;
    padding-right: 6px;
    text-align: right;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;

    &:hover {
        opacity: 1;
    }

    button {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        margin-left: 3px;
        margin-right: 3px;
        line-height: 13px;
    }


}

@media @laptopAndUp {
    .consumed-food-amount {
        width: 9%;
        position: relative;
        cursor: pointer;
    }

    .consumed-food-energy-amount {
        width: 9%;
    }

    .consumed-food-protein-amount,
    .consumed-food-carb-amount,
    .consumed-food-fat-amount {
        width: 8%;
    }

    .current-entry {
        .consumed-food-remove {
            width: 4%;
        }

        .consumed-food-name {
            padding-left: 6px;
            //width: 54%;
            width: 58%;
        }
    }

    .diary {
        .consumed-foods-table {
            border-radius: 3px;
        }

        .consumed-foods-table tr:last-child .consumed-food-name {
            border-bottom-left-radius: 3px;
        }

        .consumed-foods-table tr:last-child .consumed-food-fat-amount {
            border-bottom-right-radius: 3px;
        }

        .consumed-foods-table th:first-child {
            padding-left: 6px;
            text-align: left;
        }

        .consumed-food-name {
            width: 58%;
            padding-left: 6px;
            border-left: 1px solid #e4e4e4;
        }
    }
}


@media @tablet {
    .consumed-foods-table {
        //font-size: 14px;
        font-size: 13px;
        border-collapse: collapse;
    }

    .consumed-foods-table tr {
        border-bottom: @border;
    }

    .consumed-foods-table td {
        height: initial;
        display: inline-block;
        //padding: 0;
        //padding: 20px 0;
        padding-top: 20px;
        padding-bottom: 20px;
        //margin-top: 10px;
        border: none;
    }

    .consumed-foods-meal td {
        padding: 0 10px;
        width: 100%;
    }

    .toggle-active-meal {
        right: 0;
    }

    .consumed-food-name {
        padding-left: 8px;
        color: @text-color;
        width: 96%;
        width: 88%;
        height: initial;
    }

    .consumed-food-amount,
    .consumed-food-energy-amount,
    .consumed-food-protein-amount,
    .consumed-food-carb-amount,
    .consumed-food-fat-amount {
        width: 20%;
        width: 12%;
        text-align: right;
        padding-right: 8px;
    }

    .consumed-food-remove {
        width: 96%;
        margin-bottom: 10px;

        button {
            width: 100%;
            padding: 6px 0;
        }
    }
}
