.consumed-foods {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 120px;
    float: none;
}

.diary .consumed-foods {
    padding: 0;
}

.consumed-foods-wrapper {
    background: #fff;
    box-shadow: @module-shadow;
    border-radius: 3px;
}

.consumed-foods-header {
    height: 50px;
    border-bottom: @border;

    h3 {
        line-height: 50px;
    }

    button {
        position: absolute;
        top: 10px;
        left: 15px;
        color: #129412;

        &:hover {
            color: #129412
        }

        i {
            color: #129412;
        }
    }
}

.no-entries {
    padding: 10px;
    font-size: 14px;
}

@media @tablet {
    .consumed-foods {
        margin-top: 40px;
    }

    .consumed-foods-header {
        height: 80px;

        button {
            /*font-size: 13px;
            padding: 8px;
            top: 8px;
            left: 0;*/
            font-size: 13px;
            padding: 8px;
            top: 40px;
            left: 0;
        }

        select {
            /*position: absolute;
            top: 16px;
            font-size: 13px;
            border: none;
            right: 8px;
            text-align-last: right;*/
            position: absolute;
            top: 47px;
            font-size: 13px;
            border: none;
            right: 2px;
            text-align-last: right;
        }
    }
}
