.diary-entry-selection {
    -webkit-box-shadow: 0px 1px 4px #b9abab;
            box-shadow: 0px 1px 4px #b9abab;
    border-top: 1px solid #33a7af;
    //border-bottom: 1px solid #1e9af5;
    background: @secondary-accent-color;
    line-height: 40px;
    text-align: center;

    button {
        background: transparent;
        border: none;
        padding: 0 20px;
    }

    button:focus {
        outline: none;
    }

    i {
        vertical-align: middle;
        -webkit-text-stroke: 1px @secondary-accent-color;
        color: #fff;
        font-size: 22px;
    }
}

.selected-entry {
    vertical-align: middle;

    h2 {
        font-size: 16px;
        color: #fff;
    }
}


@media @tablet {
    .diary-entry-selection {
        line-height: 40px;
    }

    .diary-entry-selection i {
        font-size: 20px;
    }

    .selected-entry {
        display: inline-block;

        h2 {
            font-size: 15px;
        }
    }
}

input[type="checkbox"] {
  display: none;
}

.diary-view-mode-toggle-container {
    color: #fff;
    //margin-bottom: 6px;

    a {
        color: #fff;
    }
}

.toggle-diary-view-mode {
    display: inline-block;
    position: relative;
    width: 54px;
    top: 2px;
    vertical-align: middle;
    margin: 0 20px;
}

.toggle-diary-view-mode .slider {
    width: 100%;
    height: 14px;
    //background: #005398;
    background: #00a2ad;
    -webkit-box-shadow: 0 0 9px #00646b inset;
            box-shadow: 0 0 9px #00646b inset;
    border-radius: 50px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.toggle-diary-view-mode .slider::before {
    content: "";
    background: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: #00a2ad;
}

input:checked + .slider::before {
    -webkit-transform: translateX(22px);
            transform: translateX(22px);
}

.diary input:checked + .slider::before {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
}
