.entries__table {
    text-align: center;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border-collapse: separate;
}


.entries__toggle-editing-mode {
    position: absolute;
    margin-left: 8px;
    opacity: 0;
}

.entries__food > td {
    height: 40px;
    border-right: @border;
    border-bottom: @border;
}

.entries__food:hover {
    background-color: #d6d6d6;

    i {
        color: #525252;
    }

    .entries__copy-food {
        color: @anchor-color;
    }

    .entries__toggle-editing-mode {
        opacity: 1;
    }
}


.total-consumption-separator {
    background: #ffcb7c;
    font-weight: bold;
    text-align: left;
    padding: 0 10px !important;
    line-height: 40px;
    width: 100%;
}

.consumed-foods-day-total {
    td {
        height: 50px;
        //border-top: 2px solid @border-color;
        border-left: none;
        border-right: none;
        //font-weight: bold;
        width: 20%;

    }

    .total-energy {
        color: @energy-color
    }

    .total-protein {
        color: @protein-color
    }

    .total-carbs {
        color: @carb-color
    }

    .total-fat {
        color: @fat-color
    }
}

.entries__meal {
    background: #f7f7f7;
    font-weight: bold;
    text-align: left;

    td {
        position: relative;
        line-height: 40px;
        padding-right: 6px;
        padding-left: 6px;
        border-bottom: @border;
    }

    button {
        opacity: 0;
    }

    button:first-child {
        margin-left: 6px;
    }

    &:hover {
        background: #d6d6d6;

        button {
            opacity: 1;

            i {
                color: #525252;
            }
        }
    }
}

.entries__edit-meal-name {
    color: #000;
    height: 26px;
}

.entries__select-active-meal {
    height: 22px;
    position: absolute;
    right: 6px;
    top: 9px;

    .switch {
        width: 46px;
        height: 100%;
        cursor: pointer;

        &::before, &::after {
            display: inherit;
            font-family: FontAwesome;
            color: #fff;
            font-size: 13px;
            position: absolute;
            top: -3px;
        }

        &::before {
            content: "\f09c";
            left: 7px;
            z-index: 1;
        }

        &::after {
            content: "\f023";
            right: 8px;
        }

        .slider {
            width: 100%;
            height: 100%;
            background: #adadad;
            border-radius: 50px;
            transition: 0.3s;
        }

        .slider::before {
            content: "";
            background: #fff;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: absolute;
            top: 3px;
            left: 4px;
            transition: 0.3s;
        }

        input[type="checkbox"] {
          display: none;
        }

        input:checked + .slider {
            background-color: @secondary-blue;
        }

        input:checked + .slider::before {
            transform: translateX(22px);
        }
    }
}







/*
.consumed-foods-table tbody tr td:first-child::before {
    content: "";
    display: block;
    position: absolute;
    margin-top: -14px;
    height: 45px;
    width: ~"calc(100% - 30px)";
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.consumed-foods-table tr td:first-child:hover::before {
    opacity: 1;

}*/
/*
.diary .consumed-foods-table td {
    padding-top: 8px;
    padding-bottom: 8px;
}*/

.consumed-foods-table td:last-child {
    border-right: none;
}



.entries__food-energy {
    color: @energy-color;
}

.entries__food-protein {
    color: @protein-color;
}

.entries__food-carbs {
    color: @carb-color;
}

.entries__food-fat {
    color: @fat-color;
}

.entries__edit-amount {
    width: 100%;
    height: 100%;
    border: none;
}

.invalid-value {
    border-color: red;
    box-shadow: 0px 0px 5px red;
}


.entries__copy-food {
    color: @text-color;
}


@media @laptopAndUp {
    .entries__food-amount {
        width: 9%;
        position: relative;
        cursor: pointer;
    }

    .entries__food-energy {
        width: 9%;
    }

    .entries__food-protein,
    .entries__food-carbs,
    .entries__food-fat {
        width: 8%;
    }

    .consumed-foods-day-total td {
        width: 9%;
    }

    .current-entry {
        .consumed-food-remove {
            width: 4%;
        }

        .entries__food-name {
            width: 58%;
            text-align: left;
        }
    }

    .diary {
        .consumed-foods-table {
            border-radius: 3px;
        }

        .consumed-foods-table tr:last-child .entries__food-name {
            border-bottom-left-radius: 3px;
        }

        .consumed-foods-table tr:last-child .entries__food-fat {
            border-bottom-right-radius: 3px;
        }

        .consumed-foods-table th:first-child {
            padding-left: 6px;
            text-align: left;
        }

        .entries__food-name {
            width: 58%;
            padding-left: 6px;
            border-left: 1px solid #e4e4e4;
        }
    }
}


@media @tablet {
    .entries__table {
        //font-size: 14px;
        font-size: 13px;
        border-collapse: collapse;
    }

    //.consumed-foods-table tr {
    .entries__food {
        border-bottom: @border;
        line-height: 50px;
    }

    //.consumed-foods-table tr:hover {
    .entries__food:hover {
        background: #fff;
    }

    //.consumed-foods-table td {
    .entries__food > td {
        height: initial;
        //display: inline-block;
        //padding: 0;
        //padding: 20px 0;
        //padding-top: 20px;
        //padding-bottom: 20px;
        //margin-top: 10px;
        border: none;
    }

    .entries__food-name {
        text-align: left;
        line-height: 20px;
        padding-left: 8px;
        padding-right: 14px;
        color: @text-color;
        width: 96%;
        width: 85%;
        height: initial;
    }

    .consumed-foods-day-total td {
        width: 20%;
        line-height: 20px;
        padding: 20px 0;
    }

    .consumed-foods-day-total td:first-child,
    .consumed-foods-day-total td:last-child {
        width: 10%;
    }

    .consumed-foods-meal td {
        padding: 0 8px;
        width: 100%;
    }

    .toggle-active-meal {
        right: 0;
    }

    .consumed-food-nutrition-value-amount,
    .entries__food-amount,
    .entries__food-energy,
    .entries__food-protein,
    .entries__food-carbs,
    .entries__food-fat {
        width: 20%;
        width: 15%;
        padding-right: 8px;
        text-align: right;
    }

    .consumed-food-remove {
        width: 96%;
        margin-bottom: 10px;

        button {
            width: 100%;
            padding: 6px 0;
        }
    }

    /*.consumed-foods-table tr:hover i {
        color: #fff;
    }*/

    .consumed-foods-table .consumed-foods-meal:hover {
        background: #d6d6d6;

        i {
            color: #525252;
        }
    }



    .entries__food-actions {
        text-align: left;
        padding-left: 4px;
        padding-right: 4px;

        button {
            margin-left: 4px;
            margin-right: 4px;
            vertical-align: initial;
        }

        span:last-child {
            float: right;
            line-height: 50px;
        }

        i {
            color: #fff;
        }

        &:hover {
            i {
                color: #fff;
            }
        }
    }

    .consumed-food-edit {
        text-align: left;
        padding-left: 8px;
        padding-right: 8px;

        input {
            width: 60px;
            height: 34px;
            background: #f9f9f9;
            vertical-align: middle;
        }

        button {
            margin-left: 2%;
        }
    }

    .toggle-active-meal::before, .toggle-active-meal::after {
        top: -7px;
    }

    .slider::before {
        top: 4px;
    }
}
