.entry-details {
    text-align: center;
    max-width: 1000px;
    margin: 50px auto;
}

.entry-details .row {
    display: flex;
    margin-bottom: 20px;
}

.entry-details .row:last-child {
//    padding: 0 15px;
}

.entry-details button {
    margin-top: 20px;
    border-color: @secondary-blue;
    color: @secondary-blue;
    font-size: 14px;
    width: 100%;
    height: 40px;

    &:hover {
        border-color: #0a5a94;
        color: #0a5a94;
        background: #f5f4f4;
    }

    &:focus {
        border-color: @secondary-blue;
        color: @secondary-blue;
        background: #fff;
        outline: none;
    }

    span {
        line-height: initial;
    }
}

.tables-wrapper {
    //order: 1;
}

.macronutrient-split {
    //order: 2;
    height: 250px;
    margin-top: -5px;
}

.macronutrient-split-wrapper {
    height: 320px;
    /*background: #fff;*/
    /*box-shadow: @module-shadow;*/
    //border-radius: 3px;
    //padding: 15px;
}

.macronutrient-split-header {
    border-bottom: @header-separator-border;
    padding-bottom: 15px;
    //margin-bottom: 10px;
}

.macronutrient-split-chart-container {
    margin: 0 auto;
    order: 2;
    height: 270px;
    overflow-y: hidden;
}

#macronutrient-split-chart-container {
    height: calc(100% - 25px);
}

.canvasjs-chart-container {
    text-align: center !important;
}

.canvasjs-chart-canvas {
    position: relative !important;
    display: block;
    margin: 0 auto;
}

.canvasjs-chart-credit {
    display: none;
}


@media @tablet {
    .tables-wrapper {
        order: 2;
    }

    .macronutrient-split {
        order: 1;
        margin-bottom: 30px;
    }

    .entry-details {
        margin-top: 20px;
    }

    .entry-details .row {
        flex-direction: column;
        margin-bottom: 0;
        padding: 0;
    }

    .entry-details .row:last-child {
        padding: 0;
    }
}
