.food-selection-header {
    position: relative;
    background: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 34px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

@media @tablet {
    .food-selection-header {
        display: block;
        border-radius: 0;
        height: initial;
        box-shadow: 0px 1px 3px #c7c7c7;
        z-index: 1;
        background-color: @accent-color;
        margin-bottom: 2px;
        //border-bottom: 2px solid @accent-color;
    }
}
