.loading {
   padding-top: 40px;
   padding-bottom: 40px;
   text-align: center;
   //background: #fff;

   i {
       color: @secondary-blue;
   }
}

.diary .loading {
    //background: #f9f9f9;
}

@media @tablet {
    .current-entry .loading {
        margin-top: 30px;
        background: #fff;
        box-shadow: 0px 1px 4px #c1c1c1;
        border-radius: 3px;
    }
}
