.search-types {
    position: relative;
    top: 1px;
}

.search-types button {
    background: transparent;
    border: none;
    margin-right: 8px;
    margin-left: 8px;
}

.search-types button:first-child.active {
    margin-left: 0;
}

.search-types button:last-child {
    margin-right: 0;
}

.search-types button:focus {
    outline: none;
}

.search-types i {
    margin-right: 6px;
}


.search-types .active {
    position: relative;
    top: -1px;
    height: 34px;
    padding: 6px 15px;
    background: @secondary-blue;
    color: #fff;
}

.search-types .active::before {
    content: "";
    display: block;
    position: absolute;
    top: -4px;
    margin-left: -15px;
    width: 100%;
    border-top: 4px solid @secondary-blue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.search-types .active i {
    color: #fff;
}

@media @tablet {
    .search-types {
        background-color: @secondary-blue;
        line-height: 50px;
        text-align: center;
        color: #fff;

        i {
            color: #fff;
        }

        .active {
            padding: 0;
            //background: #fff;
            //color: @secondary-blue;
            top: 0;
            height: 40px;
            border-bottom: 2px solid #fff;

            &::before {
                display: none;
            }

            /*i {
                color: @secondary-blue;
            }*/
        }

        .close-food-selection {
            font-size: 18px;
            padding: 0 8px;
            margin-right: 0;
            position: absolute;
            -webkit-text-stroke: 1px @secondary-blue;
            left: 0;
        }
    }




}
