.search {
    flex-grow: 2;
    line-height: 31px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 200;
}

.search-input {
    height: 28px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #fff !important;
    //margin-right: 5px;
}

@media @tablet {
    .search {
        margin-top: 2px;
    }
}
