

thead td {
    padding: 0 !important;
}






.macronutrient-split-chart-container {
    margin: 0 auto;
    order: 2;
    height: 270px;
    overflow-y: hidden;
}

#macronutrient-split-chart-container {
    height: calc(100% - 25px);
}

.macronutrient-split-chart-container-header {
    line-height: 24px;
    color: white;
    background: @secondary-blue;
    font-size: 14px;
    border-radius: 4px;
}

.canvasjs-chart-container {
    //margin: 0 auto;
    text-align: center !important;
}

.canvasjs-chart-canvas {
    position: relative !important;
    display: block;
    margin: 0 auto;
}

.canvasjs-chart-credit {
    display: none;
}

.daily-goal-progress-table {
    //margin-top: 20px;
}

.daily-goal-progress-table thead {
    color: white;
    background: @secondary-blue;
    font-size: 14px;
}

.daily-goal-progress-table th:first-child {
    padding-left: 6px;
}

.daily-goal-progress-table th:nth-child(2), th:nth-child(3) {
    text-align: center
}

.daily-goal-progress-table td {
    height: 45px;
    padding: 6px;
    font-size: 14px;
    color: @text-color;
}

.daily-goal-progress-table td:nth-child(2),
.daily-goal-progress-table td:nth-child(3),
.daily-goal-progress-table td:nth-child(4) {
    width: 15%;
}

.over-goal {
    line-height: 20px;
    color: red;
}

.under-goal {
    line-height: 20px;
}
