.diary span {
    line-height: initial;
    padding-bottom: 2px;
}

.diary-entry-selection {
    box-shadow: 0px 1px 4px #b9abab;
    border-bottom: 1px solid #1e9af5;
    background: @secondary-blue;
    line-height: 40px;
    text-align: center;
}

.diary-entry-selection button {
    background: transparent;
    border: none;
    padding: 0 20px;
}

.diary-entry-selection button:focus {
    outline: none;
}

.diary-entry-selection i {
    vertical-align: middle;
    -webkit-text-stroke: 1px @secondary-blue;
    color: white;
    font-size: 22px;
}

.selected-entry {
    font-size: 16px;
    color: white;
    vertical-align: middle;
}


.protein-segment-legend {
    border-bottom: 3px solid #47de83;
}

.carb-segment-legend {
    border-bottom: 3px solid #5da5da;
}

.fat-segment-legend {
    border-bottom: 3px solid #ea5450;
}

.entry-details {
    text-align: center;
    max-width: 1200px;
    margin: 60px auto 40px auto;
    float: none;
    padding: 0;
}

.entry-details .row {
    display: flex;
    margin-bottom: 40px;
}

.entry-details .row:last-child {
    padding: 0 15px;
}

.entry-details button {
    margin-top: 20px;
    border-color: @secondary-blue;
    color: @secondary-blue;
    font-size: 15px;
    width: 100%;
    height: 40px;
}

.entry-details button:hover {
    border-color: #0a5a94;
    color: #0a5a94;
    background: #f5f4f4;
}

.entry-details button:focus {
    border-color: @secondary-blue;
    color: @secondary-blue;
    background: #fff;
    outline: none;
}



.entry-details button span {
    line-height: initial;
}

.macronutrient-split-chart-container {
    margin: 0 auto;
    order: 2;
    height: 270px;
    overflow-y: hidden;
}

#macronutrient-split-chart-container {
    height: calc(100% - 25px);
}

.macronutrient-split-chart-container-header {
    line-height: 24px;
    color: white;
    background: @secondary-blue;
    font-size: 15px;
    border-radius: 4px;
}

.canvasjs-chart-container {
    //margin: 0 auto;
    text-align: center !important;
}

.canvasjs-chart-canvas {
    position: relative !important;
    display: block;
    margin: 0 auto;
}

.canvasjs-chart-credit {
    display: none;
}

.total-container {
    //margin-top: 20px;
}

.total-container thead {
    color: white;
    background: @secondary-blue;
    font-size: 15px;
}

.consumed-foods-table thead {
    color: white;
    background: @secondary-blue;
    font-size: 14px;
}

.diary .consumed-foods-table {
    font-size: 14px;
}

.current-entry th:first-child {
    border: none;
    border-top-left-radius: 3px;
}

.current-entry th:last-child {
    border-top-right-radius: 3px;
}

thead tr {
    height: 24px;
}

th {
    font-weight: normal;
    text-align: center;
}

th:first-child {
    text-align: left;
}

th:last-child {
    border-right: 1px solid @secondary-blue;
}

.total-container th:first-child {
    padding-left: 6px;
}

.total-container th:nth-child(2), th:nth-child(3) {
    text-align: center
}

.total-container td {
    height: 45px;
    padding: 6px;
    font-size: 15px;
    color: @default-font-color;
}

.total-container td:nth-child(2),
.total-container td:nth-child(3),
.total-container td:nth-child(4) {
    width: 15%;
}

.over-goal {
    line-height: 20px;
    color: red;
}

.under-goal {
    line-height: 20px;
}
