@desktop: ~"screen and (min-width: 992px)";
@laptop: ~"screen and (min-width: 768px, max-width: 991px)";
@tablet: ~"screen and (max-width: 767px)";
@smartphone: ~"screen and (max-width: 500px)";
@laptopAndUp: ~"screen and (min-width: 768px)";
@border: 1px solid #e4e4e4;
@border-color: #e4e4e4;
@new-border-color: #e2e5f3;
@header-separator-border: 2px solid #e4e4e4;
@module-shadow: 0px 1px 4px #c1c1c1;
//@secondary-blue: #60bcff;
@secondary-blue: #4692d2;
@text-color: #4e4d4d;
@icon-color: #919191;
@anchor-color: #337ab7;
@table-header-line-heigh: 24px;
@table-header-border: 1px solid #fff;
@energy-color: #f9a200;
@protein-color: #639e63;
@carb-color: #207eff;
@fat-color: #fa6b6b;

@table-default-padding-left: 6px;

.round-border(@width: 1px, @style: solid, @color: @border-color, @border-radius: 3px) {
    border: @width @style @color;
    border-radius: @border-radius;
}

.left-td-border(@width: 1px, @style: solid, @color: @border-color) {
    border-left: @width @style @color;
    border-right: @width @style @color;
    border-bottom: @width @style @color;
}

.mid-td-border(@width: 1px, @style: solid, @color: @border-color) {
    border-right: @width @style @color;
    border-bottom: @width @style @color;
}

.right-td-border(@width: 1px, @style: solid, @color: @border-color) {
    border-right: @width @style @color;
    border-bottom: @width @style @color;
}

* {
    margin: 0;
    padding: 0;
}
/*
::-webkit-scrollbar {
 	width: 6px;
}

::-webkit-scrollbar-track {
 	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
*/
html {
    height: 100%;
    background: #f9f9f9;
}

body {
    overflow-y: scroll;
    font-family: 'Monserrat', 'Roboto', sans-serif;
    background: #f9f9f9;
}

span {
    display: inline-block;
    line-height: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

table {
    width: 100%;
}

th {
    font-weight: normal;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3 {
    font-size: 15px;
    margin: 0;
}

p {
    margin: 0;
}

i {
    color: #919191;
}
/*
button i {
    color: #fff;
}
*/
input[type="text"] {
    padding-left: 5px;
    padding-right: 5px;
    .round-border();
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.container-fluid {
    padding: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
/*
.dominant {
    font-weight: bold;
}
*/
.btn-white {
    color: @text-color;
    border: 1px solid #4cae4c;
    background: #5cb85c;
    box-shadow: 0px 1px 0px #84ea84 inset;
}

.btn-green {
    color: #fff;
    border: 1px solid #4cae4c;
    background: #5cb85c;
    box-shadow: 0px 1px 0px #84ea84 inset;
}

.btn-blue {
    color: #fff;
    border: 1px solid #077fd4;
    background: #25a2fb;
    box-shadow: 0px 1px 0px #a4d9ff inset;
}

.btn-red {
    color: #fff;
    border: 1px solid #d43f3a;
    background: #d9534f;
    box-shadow: 0px 1px 0px #ff9a97 inset;
}

.btn-ghost {
    border: none;
    background: transparent;
}

.sticky-action-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    color: #fff;
    padding: 0;
    background: #00ab00;
    height: 52px;
    line-height: 52px;
    width: 52px;
    //box-shadow: 0px 1px 4px #383838;
    box-shadow: 0 6px 10px 0 #bbb;
    z-index: 1040;
    font-size: 42px;
    text-align: center;
    font-family: initial;
}

.no-outline {
    &:focus, &:active {
        outline: none;
    }
}

.energy {
    color: @energy-color;
}

.protein {
    color: @protein-color;
}

.carbs {
    color: @carb-color;
}

.fat {
    color: @fat-color;
}


@media @tablet {
    div[class*="col"] {
        padding: 0;
        margin-left: 8px;
        margin-right: 8px;
    }
}
