@media (max-width: 767px) {
    /*.nav-menu {
        position: relative;


        width: 120px;
    }

    .toggle-nav-menu {
        display: inline;
    }

    .toggle-nav-menu i {
        color: white;
    }*/

/*
    .nav-menu:before {
        content: "\f0c9";
        font-family: FontAwesome;
        font-size: 16px;
    }
*/
    /*.nav-menu li {
        display: none;
    }

    .nav-menu li:hover {
        display: block;
        position: fixed;
        background: #74a2ff;
        color: black;
        margin-top: 35px;
    }*/

    .header ul li {
        font-size: 13px;
    }

    .header button {
        font-size: 12px;
    }

    .diary-entry-selection {
        line-height: 40px;
    }

    .diary-entry-selection i {
        font-size: 20px;
    }

    .selected-entry {
        font-size: 15px;
    }

    .entry-details {
        margin-top: 30px;
    }

    .entry-details .row {
        flex-direction: column;
        margin-bottom: 0;
    }


    .entry-details button {
        width: 80%;
    }

    .macronutrient-split-chart-container {
        order: 1;
    }

    .macronutrient-split-chart-container-header {
        display: none;
    }

    .total-container {
        margin: 30px 0;
        order: 2;
    }

    .total-container thead, .consumed-foods-table thead, {
        color: white;
        background: #4fcc81;
        font-size: 14px;
    }

    thead tr {
        height: 20px !important;
    }

    .total-container tr {
        height: auto;
    }

    .total-container td {
        font-size: 14px;
        padding: 0;
        margin: 0;
        height: 40px;
        line-height: 40px;
        display: table-cell;
        border-right: none;
        border-left: none;
    }

    .total-container th:first-child, .total-container td:first-child {
        width: 31%;
        text-align: left;
        padding-left: 10px;
    }

    //.total-container th:nth-child(2),
    .total-container td:nth-child(2)
    .total-container td:nth-child(3),
    .total-container td:nth-child(4)

    {
        width: 23%;
    }

    /*.total-container th:nth-child(3), .total-container td:nth-child(3) {
        width: 22%;
    }*/

    span {
        line-height: 20px;
    }

    .food-selection {
        border-bottom: 2px solid #c3cfff;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .matching-foods {
        padding: 0;
    }

    .search {
        margin-left: 2%;
        margin-right: 2%;
    }

    .food-list {
        overflow-y: hidden;
        max-height: 9999px;
        border: none;
    }

    .food-selection-wrapper {
        padding: 0;
    }

    .single-food {
        padding-top: 8px;
        padding-bottom: 6px;
    }

    .food-name {
        text-align: left;
        width: ~'calc(96% - 33px)';
        white-space: nowrap;
        overflow: hidden;
        line-height: 20px;
        text-overflow: ellipsis;
        position: relative;
        top: 6px;
    }

    .favorites {
        width: 33px;
    }

    .energy-amount {
        width: 24%;
        color: #8f6907;
        color: white;
        background: #fed17e;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background: linear-gradient(to bottom, #fed17e, #fcb93d);
    }

    .protein-amount {
        color: green;
        color: white;
        width: 24%;
        background: linear-gradient(to bottom, #93f093, #7fe07f);
    }

    .carb-amount {
        background: #c5d4ed;
        color: #4b4bdd;
        color: white;
        width: 24%;
        background: linear-gradient(to bottom, #aeccff, #8bb6ff);
    }

    .fat-amount {
        background: #fcc6b4;
        color: #ac2f2f;
        color: white;
        width: 24%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background: linear-gradient(to bottom, #fdaa8f, #ff834f);
    }

    .consumed-foods {
        padding: 20px 0;
    }

    .consumed-foods-table-wrapper {
        padding: 0;
    }

    tr {
        height: 110px;
        border: none;
        border-bottom: 1px solid #d6dcf8;
    }

    .diary .consumed-foods-table tr {
        height: 70px;
    }

    tr:last-child {
        height: 40px;
    }

    td {
        height: 20px;
        display: inline-block;
        padding: 0;
        margin-top: 8px;
    }

    .consumed-foods-table tr, .consumed-foods-table td {
        border: none;
    }

    .consumed-foods-table tr:first-child td {
        border: none;
    }

    .consumed-foods-table .food-amount {
        width: 20%;
        color: #a463a6;
        background: #d3b2d1;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background: linear-gradient(to bottom, #d3b2d1, #c68dc2);
        color: white;
    }

    .consumed-foods-table .energy-amount {
        width: 19%;
        color: #af810b;
        color: white;
        background: #fed17e;
        background: linear-gradient(to bottom, #fed17e, #fcb93d);
        border-radius: 0;
    }

    .consumed-foods-table .protein-amount {
        background: #93f093;
        color: green;
        color: white;
        width: 19%;
        background: linear-gradient(to bottom, #93f093, #7fe07f);
    }

    .consumed-foods-table .carb-amount {
        background: #c5d4ed;
        color: #7171eb;
        color: white;
        width: 19%;
        background: linear-gradient(to bottom, #aeccff, #8bb6ff);
    }

    .consumed-foods-table .fat-amount {
        background: #fcc6b4;
        color: red;
        color: white;
        width: 19%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background: linear-gradient(to bottom, #fdaa8f, #ff834f);
    }

    .consumed-foods-table .food-name {
        text-align: center;
        margin-top: 0;
        margin-bottom: 5px;
        width: 96%;
    }

    .consumed-foods-table .remove-button-container {
        width: 96%;
    }

    .consumed-foods-table .remove-food {
        width: 100%;
        padding: 6px 0;
    }

    .energy-chart-container {
        min-width: 150px;
        color: #fcb93d;
        font-size: 16px;
        flex-basis: 35%;
        margin-left: 15%;
    }

    .protein-chart-container {
        min-width: 150px;
        color: rgb(99, 158, 99);
        font-size: 16px;
        flex-basis: 35%;
        margin-right: 15%;
    }

    .carb-chart-container {
        min-width: 150px;
        color: #207eff;
        font-size: 16px;
        flex-basis: 35%;
        margin-left: 15%;
    }

    .fat-chart-container {
        min-width: 150px;
        color: #fa6b6b;
        font-size: 16px;
        flex-basis: 35%;
        margin-right: 15%;
    }
}

@media (max-width: 500px) {
    .energy-chart-container {
        margin-left: 0;
    }

    .protein-chart-container {
        margin-right: 0;
    }

    .carb-chart-container {
        margin-left: 0;
    }

    .fat-chart-container {
        margin-right: 0;
    }
}
