/*span:nth-child(2) {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background: #f2c87d;
    width: 29%;
    color: #ac6f00;
    position: relative;
    bottom: 32px;
    line-height: 23px;
}

span:nth-child(3) {
    background: #93f093;
    color: green;
    width: 8%;
    width: 20%;
    position: relative;
    bottom: 32px;
    line-height: 23px;
}

span:nth-child(4) {
    background: #c1c1ff;
    color: blue;
    width: 8%;
    width: 20%;
    position: relative;
    bottom: 32px;
    line-height: 23px;
}

span:nth-child(5) {
    background: #fcc6b4;
    color: red;
    width: 20%;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    bottom: 32px;
    line-height: 23px;
}
*/
@media (max-width: 767px) {
    span {
        line-height: 20px !important;
    }

    .matching-foods {
        padding: 0;
    }

    .search {
        margin-left: 2%;
        margin-right: 2%;
    }

    .food-list {
        overflow-y: hidden !important;
        max-height: 9999px !important;
    }

    .food-selection-wrapper {
        padding: 0;
    }

    .single-food {
        padding-top: 8px;
        padding-bottom: 6px;
    }

    .food-name {
        text-align: left;
        width: ~'calc(96% - 53px)';
        white-space: nowrap;
        overflow: hidden;
        line-height: 20px;
        text-overflow: ellipsis;
        position: relative;
        top: 6px;
    }

    .favorites {
        width: 33px;
    }

    .energy-amount {
        width: 24%;
        color: #af810b;
        background: #fed17e;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .protein-amount {
        background: #93f093;
        color: green;
        width: 24%;
    }

    .carb-amount {
        background: #c5d4ed;
        color: #7171eb;
        width: 24%;
    }

    .fat-amount {
        background: #fcc6b4;
       color: red;
       width: 24%;
       border-top-right-radius: 3px;
       border-bottom-right-radius: 3px;
    }



    .consumed-foods-table-wrapper {
        padding: 0;
    }

    tr {
        height: 110px;
    }

    td {
        height: 20px;
        display: inline-block;
        padding: 0;
        margin-top: 8px;
    }

    .consumed-foods .food-amount {
        width: 20%;
        color: #a463a6;
        background: #d3b2d1;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .consumed-foods .energy-amount {
        width: 19%;
        color: #af810b;
        background: #fed17e;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .consumed-foods .protein-amount {
        background: #93f093;
        color: green;
        width: 19%;
    }

    .consumed-foods .carb-amount {
        background: #c5d4ed;
        color: #7171eb;
        width: 19%;
    }

    .consumed-foods .fat-amount {
        background: #fcc6b4;
        color: red;
        width: 19%;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .consumed-foods .food-name {
        text-align: center;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .consumed-foods .remove-button-container {
        width: 96%;
    }

    .consumed-foods .remove-food {
        width: 100%;
        padding: 6px 0;
    }

}
/*
@media (max-width: 500px) {
    .matching-foods {
        padding: 0;
    }

    .search {
        margin-left: 10px;
        margin-right: 10px;
    }
}*/
