body {
    background: whitesmoke;
    overflow-y: scroll;
}

th {
    padding-bottom: 5px;
    padding: 2px;
}

tr:hover {
    background: #aec2e3;
    cursor: pointer;
}

td {
    padding: 2px;
}

i {
    color: #919191;
}

/*
td:first-child {
    padding-right: 10px;
}
*/

.container-fluid {
    padding: 0;
}


.daily-goal {
    width: 15%;
    float: left;
    margin-left: 8%;
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid #c3cfff;
    border-radius: 3px;
    text-align: left;
    padding: 1%;
    padding-bottom: 1.5%;
}

.daily-goal h4 {
    display: inline;
    position: relative;
    top: 3px;
}

.configure-daily-goals {
    float: right;
    font-size: 18px;
    background: transparent;
    border: none;
}

.macronutrient-progress {
    text-align: center;
}

.chart-bar-protein {
    width: 20% !important;
    margin-right: 10px;
    height: 60px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.chart-bar-carbs {
    width: 20% !important;
    margin-right: 10px;
    height: 60px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.chart-bar-fat {
    width: 20% !important;
    margin-right: 10px;
    height: 60px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}








.matching-foods ul {
    -webkit-padding-start: 0px;
    list-style-type: none;
    /*border: 1px solid #c3cfff;*/
}


.matching-foods ul li {
    overflow-y: hidden;
}

.matching-foods ul li:last-child {
    /*border-bottom: 1px solid #c3cfff;*/
}



.single-food {
    /*border: 1px solid #c3cfff;
    border-bottom: none;*/
}

.single-food:hover {
    background: whitesmoke;
}


.add-to-consumed-foods-list {
    background: #fcfcfc;
    height: 200px;
    border-top: 0 solid transparent;
    overflow-y: hidden;
    max-height: 0;
    transition: all 0.2s ease-out;
    text-align: left;
}

.add-to-consumed-foods-list.open {
    border-top: 1px solid #c3cfff;
    border-color: ;
    max-height: 200px;
}

.add-to-consumed-foods-list.closed {
    border-top: 0 solid transparent;
    max-height: 0;
}

.add-panel-wrapper {
    padding: 15px;
}

.portion-sizes a {
    padding: 2px;
    border-radius: 2px;
}

.portion-sizes a:hover {
    background: #aec2e3;
    text-decoration: none;
}

.add-custom-amount {
    margin-top: 15px;
}

.add-custom-amount input {
    position: relative;
    top: 1px;
    height: 34px;
    border: 1px solid #c3cfff;
    border-radius: 4px;
    margin-right: 6px;
    padding-left: 6px;
    padding-right: 6px;
}



span {
    /*border: 1px solid #cccccc;*/
    display: inline-block;
    padding: 6px;
}

span:first-child {
    border-left: none;
    text-align: left;
    width: 64%;
    /*border-right: 1px solid #c3cfff;*/
}

span:nth-child(2) {
    width: 15%;
    /*border-right: 1px solid #c3cfff;*/
}

span:nth-child(3) {
    background: #93f093;
    color: green;
    width: 7%;
    /*border-right: 1px solid #c3cfff;*/
}

span:nth-child(4) {
    background: #c1c1ff;
    color: blue;
    width: 7%;
    /*border-right: 1px solid #c3cfff;*/
}

span:nth-child(5) {
    background: #fcc6b4;
    color: red;
    width: 7%;
}












.food-selection {
    /*padding: 20px;
    background: whitesmoke;
    border-radius: 3px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 2px 3px #c9c9c9;*/
}

.search-pane {
    /*padding: 10px 0;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background: whitesmoke;*/
    margin-top: 40px;
    margin-bottom: 20px;
}

.search-input {
    margin-bottom: 20px;
    height: 35px;
    width: calc(100% - 80px);
    border-radius: 3px;
    border: 1px solid #c3cfff;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.do-search {
    height: 35px;
    width: 75px;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border: 1px solid #c3cfff;
    font-size: 16px;
}

.search-input:hover, .do-search:hover {
    border-color: #0291d7;
}




.search-type {
    background: whitesmoke;
    border-bottom: 1px solid #c3cfff;
}

.search-type button {
    background: transparent;
    border: none;
}

.search-type button:focus {
    outline: none;
}


.search-type .active {
    border-style: solid;
    margin-right: 6px;

    border-color: aliceblue;
    border: 1px solid #c3cfff;
    border-top: 4px solid #c3cfff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    position: relative;
    top: 1px;
    padding: 6px 25px;
    background: white;
}

.heading-wrapper {
    border-bottom: 1px solid #c3cfff;
    /*padding-right: 17px;*/
}

.food-selection {
    float: left;
    width: 100%;
    text-align: center;
    background: white;
    margin-top: 40px;
    border-bottom: 1px solid #c3cfff;
}

.food-list {
    /*padding: 20px;
    background: whitesmoke;
    border-radius: 3px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 2px 3px #c9c9c9;

    margin-bottom: 20px;*/

    font-size: 13px;
    /*color: #207eff;*/
}

.matching-foods {
    float: left;
    width: 60%;
    min-height: 780px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
}

.matching-foods ul {
    /*height: 600px;
    overflow-y: scroll;*/
}


.food-table-headings {
    /*width: calc(100% - 17px);*/
}

.food-table-content-wrapper {
    /*height: 580px;*/
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #c9c9c9;
}


.food-table {
    /*height: 600px;*/
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background: white;
}

.protein-dominant {
    color: #0fb70f;
}

.carb-dominant {
    color: #207eff;
}

.fat-dominant {
    color: #fa6b6b;
}

.consumed-foods {
    float: left;
    width: 100%;
    background: white;
    padding: 40px 0;
}


.consumed-foods-table-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.consumed-foods-table {
    text-align: center;
    font-size: 13px;
    width: 100%;
}

.consumed-foods-table th {
        text-align: center;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #c3cfff;
}

.consumed-foods-table th, td {
    /*border: 1px solid #cccccc;*/
    padding: 6px;
}

.consumed-foods-table th:first-child, td:first-child {
    width: 4%;
}

.consumed-foods-table th:nth-child(2), td:nth-child(2) {
    text-align: left;
    width: 52%;
    /*border-right: 1px solid #c3cfff;*/
}

.consumed-foods-table th:nth-child(3), td:nth-child(3) {
    width: 8%;
    /*border-right: 1px solid #c3cfff;*/
}

.consumed-foods-table th:nth-child(4), td:nth-child(4) {
    width: 15%;
    /*border-right: 1px solid #c3cfff;*/
}

.consumed-foods-table th:nth-child(5), td:nth-child(5) {
    background: #93f093;
    color: green;
    width: 7%;
    /*border-right: 1px solid #c3cfff;*/
}

.consumed-foods-table th:nth-child(6), td:nth-child(6) {
    background: #c1c1ff;
    color: blue;
    width: 7%;
    /*border-right: 1px solid #c3cfff;*/
}

.consumed-foods-table th:nth-child(7), td:nth-child(7) {
    background: #fcc6b4;
    color: red;
    width: 7%;
}
