table {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: blue;
}

tr:nth-child(2n + 0) {
    /*background-color: whitesmoke;*/
}

th {
    border: 1px solid #cccccc;
    background-color: #e4e4e4;
    text-align: center;
}

th:first-child {
    width: 55%;
}

th:nth-child(2) {
    color: orange;
    width: 15%;
}

th:nth-child(3) {
    color: green;
    width: 10%;
}

th:nth-child(4) {
    color: red;
    width: 10%;
}

th:nth-child(5) {
    color: blue;
    width: 10%;
}

td {
    border: 1px solid #cccccc;
    padding: 10px;
}

td:first-child {
    border-left: none;
    text-align: left;
    width: 55%;
}

td:nth-child(2) {
    color: orange;
    width: 15%;
}

td:nth-child(3) {
    color: green;
    width: 10%;
}

td:nth-child(4) {
    color: red;
    width: 10%;
}

td:nth-child(5) {
    color: blue;
    width: 10%;
}

td:last-child {
    border-bottom: none;
}




.food-list ul {
    -webkit-padding-start: 0px;
    list-style-type: none;
    border: 1px solid #c3cfff;
}


.single-food {
    border: 1px solid #c3cfff;
    border-bottom: none;
}

.add-to-consumed-foods-list {
    background: wheat;
    height: 200px;
    border: 1px solid #cccccc;
    border-top: none;
    border-bottom: none;
}

span {
    /*border: 1px solid #cccccc;*/
    display: inline-block;
    padding: 10px;
}

span:first-child {
    border-left: none;
    text-align: left;
    width: 70%;
    border-right: 1px solid #c3cfff;
}

span:nth-child(2) {
    color: orange;
    width: 15%;
    border-right: 1px solid #c3cfff;
}

span:nth-child(3) {
    color: green;
    width: 5%;
    border-right: 1px solid #c3cfff;
}

span:nth-child(4) {
    color: red;
    width: 5%;
    border-right: 1px solid #c3cfff;
}

span:nth-child(5) {
    color: blue;
    width: 5%;
}












.food-selection {
    /*padding: 20px;
    background: whitesmoke;
    border-radius: 3px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 2px 3px #c9c9c9;*/
}

.search-pane {
    /*padding: 10px 0;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background: whitesmoke;*/
    margin-top: 40px;
    margin-bottom: 20px;
}

.search-input {
    height: 35px;
    width: calc(100% - 80px);
    border-radius: 3px;
    border: 1px solid #1caaef;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.do-search {
    height: 35px;
    width: 75px;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border: 1px solid #1caaef;
    font-size: 16px;
}

.search-input:hover, .do-search:hover {
    border-color: #0291d7;
}


.food-list {
    /*padding: 20px;
    background: whitesmoke;
    border-radius: 3px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 2px 3px #c9c9c9;

    margin-bottom: 20px;*/
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: blue;
}

.food-table-headings {
    /*width: calc(100% - 17px);*/
}

.food-table-content-wrapper {
    /*height: 580px;*/
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #c9c9c9;
}


.food-table {
    /*height: 600px;*/
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background: white;
}
